DATABASE_HOST=localhost
DATABASE_USER=tracker_admin
DATABASE_NAME=whale_tracker
DATABASE_PASSWORD=super_secure_password

LETSENCRYPT_EMAIL=YOUR-EMAIL

HOSTNAME=YOUR-DOMAIN-NAME
AUTHORIZATION_ISSUER_URL=https://YOUR-DOMAIN-NAME/realms/whale-tracker

# get from https://resend.com
EMAIL_API_KEY=YOUR-RESEND-TOKEN-FROM
EMAIL_FROM=onboarding@resend.dev

# get from  https://trongrid.io
BLOCKCHAIN_TRON_API_KEY=YOUR-TRON-API-KEY

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password_123
KEYCLOAK_DB_NAME=keycloak-db
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak_secure_password

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=super_secure_rabbit_password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBIT_URL=amqp://admin:super_secure_rabbit_password@rabbitmq:5672/

DB_HOST=postgres
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_ADDR=redis:6379