apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://x.x.x.x:6443
  name: k3s-cluster
contexts:
- context:
    cluster: k3s-cluster
    namespace: whale-tracker-prod
    user: github-deployer
  name: k3s-context
current-context: k3s-context
users:
- name: github-deployer
  user:
    token: YOUR-TOKEN